<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ subject }}</title>
  </head>
  <body>
    <h1>Hola {{ names }}</h1>
    <p>Te has inscrito a la convocatoria de la obra <b>{{ play_name }}</b></p>
    <p>
      Audicionarás para interpretar al personaje <b>{{ character_name }}</b> en
      la siguiente fecha: <b>{{ audition_date }}</b>
    </p>
  </body>
</html>
