<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificado otorgado a {{ names }}</title>

    <style>
      * {
        font-family: 'Open Sans', 'Roboto', 'Verdana', sans-serif;
      }

      body {
        line-height: 1.5;
      }

      b {
        background-color: #444;
        color: #fff;
        padding: 4px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Informe liquidacion de Viaticos para la obra {{ play['title'] }} desde {{ play['playDate'].strftime("%m/%d/%Y") }} hasta {{ play['playDate'].strftime("%m/%d/%Y") }}</h1>
      <hr />
      <h2>Respetada Decanatura de la Facultad de Artes a continuacion se presenta el informe la liquidacion de los viaticos de los estudiantes:</h2>
    {% for student in students %}
      <p style="font-size: 19px">
        El estudiante <b>{{ student['names'] }} {{ student['lastNames'] }}</b> con código
        <b>{{ student['code'] }}</b> participó en la obra
        <b>{{ play['title'] }}</b> interpretando al personaje
        donde asistio a las fechas
        <ul>
            {% for item in student.asistance %}
                <li>{{ item['date'] }} en horas {{ item['start_time'] }} - {{ item['end_time'] }} en el teatro {{ item['theater'] }} para un {{ item['type'] }}</li>
            {% endfor %}
        </ul>
      </p>
    {% endfor %}
        <h3>Firma: {{ professor['names'] +" "+ professor['lastNames'] }} con Cedula de ciudadania {{ professor['idNumber'] }}</h3>
    </main>
  </body>
</html>